/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* Colors */
    --clr-dark: 105 8% 20%;
    --clr-light: 242 40% 88%;
    --clr-accent: 206 37% 24%;

    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
    --ff-cav-cur: 'Caveat', cursive, 'Blinker', sans-serif;
}

/* ---------------------- */
/* General reset          */
/* ---------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
p,
a,
ul,
li,
img {
    margin: 0;
}

/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-light));
    background-color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

/* make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select,
a {
    font: inherit;
}

a,
li {
    text-decoration: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 60rem;
}

section:not(:first-child) {
    padding-top: 2rem;
}
section {
    padding-bottom: 2rem;
}

/* This is for accesability for screen readers */
.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Za punu širinu backgrounda(full vw a ne širina containera)*/
.full-bleed {
    box-shadow: 0 0 0 100vmax hsl(var(--clr-light) / .1);
    clip-path: inset(0 -100vmax);
}

/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-accent) );}
.bg-light { background-color: hsl( var(--clr-light) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-accent) );}
.text-light { color: hsl( var(--clr-light) );}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); }
.ff-cav-cur { font-family: var(--ff-cav-cur)}

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

/* ------------------- */
/* Components   */
/* ------------------- */

/* ---------- Header & Navigation ---------- */

.primary-header {
    justify-content: space-around;
    align-items: center;
    padding: 1.8rem 1rem;
    background-color: hsl(var(--clr-accent) / .1);
}

.primary-header-logo,
.story-title,
.story-subtitle,
.activities-title {
    font-family: 'Caveat', cursive, 'Blinker', sans-serif;
}

.primary-navigation {
    list-style: none;
}

.primary-navigation a {
    margin-inline: .7rem clamp(.5rem, 10vw, 3rem);
    padding-bottom: .5em;
}

.primary-navigation a:hover,
.primary-navigation a:focus {
    border-bottom: 2px solid hsl( var(--clr-accent) );
    text-shadow: 0 0 .5px hsl( var(--clr-accent) );
    color: hsl( var(--clr-accent) );
}

.mobile-nav-toggle {
    display: none;
}

/*-------- Small screens ----------*/
@media (max-width: 54.999em) {

    .primary-header-logo {
        position: absolute;
        padding-top: 1.7rem;
        z-index: 4000;
    }

    .primary-header {
        padding: 2rem 0 4rem;
        background-color: hsl(var(--clr-dark) / .1);
    }

    .primary-navigation {
        list-style: none;
        flex-direction: column;
        position: fixed;
        z-index: 1000;
        inset: 0 0 33% 0; /* shorthand for top right bootom & left*/
        padding: min(15rem, 15vh) 2rem;
        font-size: var(--fs-500);
        transform: translateX(100%); /* it moves 100% off the viewpot width in x direction*/
        transition: transform 500ms ease-in-out;
    }

    .primary-navigation > li {
        padding: 0.8rem 0;
        text-align: center;
    }

    .primary-navigation > li:hover {
        border: none;
        margin: 0;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
        background: hsl( var(--clr-light) /0.1);
        backdrop-filter: blur(2rem);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 2rem;
        top: 2rem;
        border: 0;
        background: transparent;
        background-image: url("./images/header/bars-solid.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 2rem;
        aspect-ratio: 1;
    }
    
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("./images/header/xmark-solid.svg");
    }

    .mobile-nav-toggle:hover {
        cursor: pointer;
    }
    /* accessibility */
    .mobile-nav-toggle:focus-visible {
        outline: 3px solid hsl(var(--clr-dark));
        outline-offset: 5px;
        border-radius: 1px;
    }
}

@media (min-width: 55em) and (max-width: 70em) {
    .primary-header {
        justify-content: space-between;
        justify-items: center;
        }
    .primary-navigation a{
        margin: .7em clamp(.2rem, 20vw, 0.9em);
    }
    .mobile-nav-toggle:focus-visible {
        outline: 3px solid hsl(var(--clr-dark));
        outline-offset: 5px;
        border-radius: 1px;
    }
}

/* ---------- Hero ---------- */

.hero {
    max-height: 100vh;
    background-image: url("./images/activities/plitvice_walk.jpg");
    background-size: cover;
    justify-content: center;
}

.title-container {
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-container-subtitle {
    text-shadow: 0 0 .5px hsl( var(--clr-accent) );
}

.hero-title {
    text-align: center;
}

.book-btn,
.send-btn {
    padding: .5em 1.2em;
    border-radius: 7px;
    text-shadow: 0 0 .1px hsl( var(--clr-accent) / 0.8);
}

.book-btn:hover,
.book-btn:focus,
.send-btn:hover,
.send-btn:focus {
    color:hsl( var(--clr-light));
    cursor: pointer;
    background-color: hsl(var(--clr-dark) / 0.4);
    border: solid 1px hsl(var(--clr-light));
    margin-top: -2px; /* so it doesn't move other thing on the page */
}

/* ---------- COMPONENTS ---------- */

@media (max-width: 35em) {
    .container {
        padding-inline: 0;
    }
}
/* ---------- Component.rooms ---------- */

.rooms {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./images/room_5/room_full-5.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    height: 450px;
}

.rooms-title {
    padding: 1em 2em;
    background-color: hsl(var(--clr-light) / .7);
    border-radius: 3px;
    box-shadow: rgba(255, 248, 248, 0.427) 0px 5px 15px;
}

.rooms-title:hover,
.rooms-title:focus {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
    border: 5px solid var(--clr-accent);
    color: hsl(var(--clr-dark) / 0.9);
    background-color: hsl(var(--clr-light))
}

/* ---------- Component.story ---------- */

.story {
    text-align: left;
    margin: 3em 1em 0em;
    background-color: hsl(var(--clr-light) / .1);
}

.story-title {
    margin-bottom: .6em;
    padding-top: 1em;
}

.story-subtitle {
    margin-bottom: 0.5em;
}

.story_text {
    max-width: 80%;
    padding: 1.7em 0;
}
.story_img {
    max-width: 350px;
    object-fit: cover;
    border-radius: 7px;
    margin: 0 auto;
}

@media (min-width: 45em){
    .story {
        max-width: 600px;
        margin: 2em auto;
    }

    .story-text-img {
        display: flex;
        padding-bottom: 2em;
    }

    .story_text {
        padding: 0;
        max-width: 10em;
    }

    .story_img {
        max-height: 370px;
        margin: 0 3em 0 0;
    }
}
/* ---------- Component.activites ---------- */

.activities {
    padding: 0 1em;
}

.activities-map_img {
    border-radius: 10px;
}

@media (min-width: 45em) {
    .activities {
        padding: 0;
    }
}

/* ---------- Component.contact ---------- */

.contact {
    flex-direction: column;
    justify-content: center;
    background-color: hsl( var(--clr-light) / 0.3);
    text-align: center;
    padding: 2rem;
}

input,
textarea {
    margin-bottom: 1rem;
    padding: .2em .4em;
    border: none;
    border-radius: 6px;
}

.send-btn {
    width: 30%;
    border: none;
    align-self: center;
}

/* ---------- Footer ---------- */

footer {
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    text-align: center;
}

.footer-logo {
    font-family: 'Caveat', cursive, 'Blinker', sans-serif;
}

.footer-icons > a {
    padding: 1em 2em;
}

/*------------- PAGES --------- */

/* ------ Rooms --------*/
.all-rooms {
    margin-top: 0;
    padding: 2em 0 1.5em;
}

.rooms-page {
    max-width: 800px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin: 2rem auto;
}

.rooms-page-container {
    font-size: var(--fs-300);
    font-family: var(--ff-sans-cond);
    color: hsl(var(--clr-dark));
}

.rooms-page_img {
    height: 300px;
    width: 300px;
    border-radius: 7px;
    object-fit: cover;
    margin-bottom: 0.6rem;
}

.rooms-page_img:hover,
.rooms-page_img:focus {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 5px solid var(--clr-accent);
}

.rooms-page-container:hover,
.rooms-page-container:focus {
    color: hsl(var(--clr-dark) / 0.8);
}

/* ------------------- SINGLE ROOM ---------------- */

.room-page > img {
    max-width: 500px;
}
.room-page-main-img {
    margin: 1rem auto 0;
}

.room-intro {
    flex-direction: column;
    padding: 1rem;
}

.room-images {
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
}

.room-images > img {
    border-radius: 7px;
    object-fit: cover;
}

/* ------------------- ACTIVITY PAGE ---------------- */

.activities-details {
    border: solid pink 2px;
}

.activity-img {
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 7px;
}

.hidden {
    display: none;
}